<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>

            html, body {
                height: 100%;
            }

            html {
                display: table;
                margin: auto;
            }
            
        </style>
        
    </head>
    <body>
        <div>
            <h1>Welcome to RandomWorkout!</h1>

            <form action="#" th:action="@{/plan}" method="GET">
                <select th:field="*{exercise.type}">
                    <option th:value="'GYM'" th:text="Gym"></option>
                    <option th:value="'BODYWEIGHT'" th:text="Bodyweight"></option>
                    <option th:value="'MIXED'" th:text="Mixed"></option>
                </select>
                <p><input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
