<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Workout plan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>

            html, body {
                height: 100%;
            }

            html {
                display: table;
                margin: auto;
            }

            body {
                display: table-cell;
                vertical-align: middle;
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

        </style>
    </head>
    <body>
        <div>

            <h2>Monday</h2>
            <table>
                <th:block th:each="workout : ${workout}">
                    <tr th:if="${workout.bodyPart} == 'CHEST'">
                        <td th:text="${workout.name}"></td>
                        <td th:text="${workout.reps}"></td>
                        <td th:text="${workout.bodyPart}"></td>
                        <td th:text="${workout.type}"></td>
                    </tr>

                    <tr th:if="${workout.bodyPart} == 'TRICEP'">
                        <td th:text="${workout.name}"></td>
                        <td th:text="${workout.reps}"></td>
                        <td th:text="${workout.bodyPart}"></td>
                        <td th:text="${workout.type}"></td>
                    </tr>
                </th:block>
            </table>

            <h3> </h3>
            <h3> </h3>

            <h2>Tuesday</h2>

            <table>
                <th:block th:each="workout : ${workout}">
                    <tr th:if="${workout.bodyPart} == 'BACK'">
                        <td th:text="${workout.name}"></td>
                        <td th:text="${workout.reps}"></td>
                        <td th:text="${workout.bodyPart}"></td>
                        <td th:text="${workout.type}"></td>
                    </tr>


                    <tr th:if="${workout.bodyPart} == 'BICEP'">
                        <td th:text="${workout.name}"></td>
                        <td th:text="${workout.reps}"></td>
                        <td th:text="${workout.bodyPart}"></td>
                        <td th:text="${workout.type}"></td>
                    </tr>
                </th:block>
            </table>

            <h3> </h3>
            <h3> </h3>

            <h2>Thursday</h2>

            <table>
                <th:block th:each="workout : ${workout}">
                    <tr th:if="${workout.bodyPart} == 'SHOULDERS'">
                        <td th:text="${workout.name}"></td>
                        <td th:text="${workout.reps}"></td>
                        <td th:text="${workout.bodyPart}"></td>
                        <td th:text="${workout.type}"></td>
                    </tr>
                </th:block>
            </table>

            <h3> </h3>
            <h3> </h3>

            <h2>Friday</h2>

            <table>
                <th:block th:each="workout : ${workout}">
                    <tr th:if="${workout.bodyPart} == 'LEGS'">
                        <td th:text="${workout.name}"></td>
                        <td th:text="${workout.reps}"></td>
                        <td th:text="${workout.bodyPart}"></td>
                        <td th:text="${workout.type}"></td>
                    </tr>
                </th:block>
            </table>

            <h3> </h3>
            <h3> </h3>

        </div>
    </body>
</html>
